.wrapper {
  --search-height: 50px;
  --search-top-spacer:8px;
  --search-btn-width:52px;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  width: 100%;
}
.inner {
  height: 100%;
  width: var(--default-layout-header-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
}
.search {
  position: relative;
  width: 361px;
  height: var(--search-height);
  background: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  padding-left: 16px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0;
  display: flex;
  border: 1.5px solid transparent;

  &::after {
    content: "";
    position: absolute;
    top: var(--search-top-spacer);
    right: 52px;
    height: calc(var(--search-height) - var(--search-top-spacer) *2);
    width: 1px;
    background-color: rgb(2 2 36 / 10%);
  }
  &:focus-within{
    border: 1.5px solid rgba(22, 24, 35, 0.2);
  }
}

.search-input {
  flex: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: none;
  background: transparent;
  outline: none;
  padding: 12px 0;
  width: 292px;
  caret-color: rgba(254, 44, 85, 1);
  height: 100%;
  &:not(:placeholder-shown) ~ .search-button{
    color: rgba(22, 24, 35, 0.75);
  }
}


.clear {
    position: absolute;
    color: rgba(22, 24, 35, 0.34);
    right: calc(var(--search-btn-width) + 10px);
    top: 50%;
    transform: translateY(-50%);
}
.loading {
    position: absolute;
    color: rgba(22, 24, 35, 0.34);
    right: calc(var(--search-btn-width) + 10px);
    top: 50%;
    transform: translateY(-50%);
    display: none;
}
.search-button {
  cursor: pointer;
  background: transparent;
  padding: 11px 18px 11px 16px;
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);
  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
  &:active{
    background: rgba(22, 24, 35, 0.06);
  }
}
